@using Newtonsoft.Json
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ChargeMachineViewModel

<div class="modal-content">
    <h5 class="modal-title">Station details.</h5>

    <form method="POST">
        <div class="form-group">
            <label asp-for="Id" class="form-label"></label>
            <span class="form-control form-input" asp-for="City">@Model.Id</span>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="form-label"></label>
            <span class="form-control form-input" asp-for="City">@Model.Code</span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="form-label"></label>
            <span class="form-control form-input" asp-for="City">@Model.City</span>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="form-label"></label>
            <span class="form-control form-input" asp-for="City">@Model.Street</span>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="form-label"></label>
            <span class="form-control form-input" asp-for="City">@Model.Number</span>
        </div>
        <div class="form-group">
            <label asp-for="Latitude" class="form-label"></label>
            <span class="form-control form-input" asp-for="City">@Model.Latitude</span>
        </div>
        <div class="form-group">
            <label asp-for="Longitude" class="form-label"></label>
            <span class="form-control form-input" asp-for="City">@Model.Longitude</span>
        </div>
    </form>
    
    <div id="googleMap" style="height:400px;width:100%;"></div>
</div>

<script>
    $(document).ready(function() {
        showStationOnMap(@Html.Raw(JsonConvert.SerializeObject(Model)));
     });
</script>
